<form method="post" action="/users">
  <label for="username">Username: </label>
  <input type="text" name="username" value="<%= params[:username] %>" />
  <br>
  <label for="password">Password: </label>
  <input type="password" name="password" />
  <br>
  <button type="submit">Sign In</button>
</form>
